
.containerHome {
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerHome h1 {
    background-color: green;
    text-align: center;
}

.colHome {
    border: 2px solid pink;
    text-align: center;
    margin: 0 auto;
}

.shadow {
    color: black;
    background-color: rgb(50, 62, 72);
    margin: 30px 40px 10px 40px;
    text-align: justify;
    padding: 10px;
    border-radius: 8px;
}

