
.containerHome {
    margin-top: 20px;
    margin-bottom: 20px;
}

.rowHome1 {
    background-color: greenyellow;
    padding: 30px 0px;
    margin-bottom: 60px;
}

.rowHome1 h1 {
    background-color: green;
    text-align: center;
}

.rowHome2 {
    background-color: blue;
    padding: 20px 0px;
    margin-bottom: 60px;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.colHome {
    border: 2px solid pink;
    text-align: center;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    /* display: flex;
    justify-content: end; */
}

.cardHome-1 {
    border-radius: 40px;
}

.shadow {
    color: black;
    background-color: rgb(50, 62, 72);
    margin: 30px 40px 10px 40px;
    text-align: justify;
    padding: 10px;
    border-radius: 8px;
}



